# LLM & Agent
langchain
langchain-groq
langchain-community
groq

# Tools
duckduckgo-search
requests

# Voice / STT
faster-whisper

# Frontend
streamlit

# Utils
python-dotenvlangchain
langchain-groq
langchain-community
groq
duckduckgo-search
requests
faster-whisper
streamlit
python-dotenv